# Make a full list of Green codes

## part 1: data exploration

In [11]:
import pandas as pd 
import re

In [3]:
# reading data and selecting only the column we are interested in
raw_data = pd.read_excel("2IPCGreenInventoryList_2022WIPO.xlsx", dtype=str)
raw_data = raw_data[[ "IPC"]]
raw_data.dropna(inplace=True)
raw_data

                       IPC
2     C10L 5/00, 5/40-5/48
3               C10B 53/02
4          C10L 5/40, 9/00
5    C10L 1/00, 1/02, 1/14
6          C10L 1/02, 1/19
..                     ...
287                    G21
288                   G21B
289                   G21C
290                   G21D
291              F02C 1/05

[271 rows x 1 columns]

## try a generic for loop to scan the dataframe and identify relevant separators

"," is the separator for lists of codes
"-" is the separator for sequences

scan the dataframe and add individual results in a codes_list

['F02C 1/05']

In [40]:
codes_list = []
dash = "-"
i=0
for index, row in raw_data.iterrows():
    i+=1
    first_part = row['IPC'].split(" ")[0 ]
    other_parts= row['IPC'].split(",")[1:]
     
    for j in range(0,len(other_parts)):
        if "-" in other_parts[j]:
            print(i, "this is a sequence ", first_part + other_parts[j])
        else:
            full_code = first_part + other_parts[j]
            print(i, full_code)

1 this is a sequence  C10L 5/40-5/48
3 C10L 9/00
4 C10L 1/02
4 C10L 1/14
5 C10L 1/19
6 C07C 69/00
8 C10L 1/19
11 C10L 1/182
14 C02F 11/04
18 C12N 1/15
18 C12N 1/21
18 C12N 5/10
18 C12N 15/00
22 this is a sequence  H01M 8/00-8/24
22 this is a sequence  H01M 12/00-12/08
25 this is a sequence  H01M 50/00-50/171
30 C10L 5/44
31 F23G 7/10
32 C10J 3/46
38 F23G 7/00
42 C02F 11/14
43 F23G 7/10
47 B01D 53/04
47 B01D 53/047
47 B01D 53/14
47 B01D 53/22
47 B01D 53/24
56 B63H 19/04
68 this is a sequence  H01L 31/00-31/078
71 this is a sequence  H01L 51/42-51/48
72 H01L 25/03
72 H01L 25/16
72 H01L 25/18
72 H01L 31/042
74 C23C 16/24
83 F24D 18/00
84 F24D 5/00
84 F24D 11/00
84 F24D 19/00
86 F03D 9/00
86 F03D 13/20
95 E04D 13/18
99 F26B 3/28
109 F03G 7/04
114 F24D 18/00
122 F01K 23/04
134 B60K 6/20
136 this is a sequence  F16H 48/00-48/30
144 F02M 27/02
147 B62D 35/02
150 B62M 3/00
150 B62M 5/00
150 B62M 6/00
155 B63H 19/04
163 H02J 7/00
163 H02J 15/00
170 F28D 20/02
173 H01L 51/50
175 this is a sequence  E04B 1/74-1/80
175 E04B 1/88
175 E04B 1/90
176 E04C 1/41
176 this is a sequence  E04C 2/284-2/296
183 E04D 3/35
183 E04D 13/16
187 B60K 6/30
192 A62D 101/00
196 D21B 1/32
198 A43B 21/14
205 this is a sequence  C11B 13/00-13/04
214 C10L 5/48
215 C22B 19/30
215 C22B 25/06
218 H01J 9/52
219 H01M 10/54
220 B01D 53/22
220 B01D 53/62
223 E21B 43/16
242 C10L 10/06
254 C02F 3/00
254 C02F 9/00

In [30]:
other_parts

['1/05']